<header><h1 class="display-4">Requests near <%= @location %></h1></header>

<div class="row">
  <div class="col-md-6">
    <ul>
      <%= render @requests %>
    </ul>
</div>
  <div class= "col-md-3 col-md-offset-1">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@address}&zoom=15&size=340x300&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
                  class: 'img-fluid img-rounded search-map', alt: " on the map"%>
  </div>
</div>

