<div>
<header><h2 class="display-4">Requests near <%= @location %></h2></header>
<hr>
</div>
<div class="row">
  <div class="col-md-6">
    <ul>
      <%= render @requests %>
      <% explode %>
    </ul>
</div>
  <div class= "col-md-3 col-md-offset-1">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location}&markers=color:blue|#{@requests.find(1).address}&markers=color:blue|#{@requests.find(2).address}&zoom=11&size=340x300&key=#{@key}",
                  class: 'img-fluid img-rounded search-map', alt: " on the map"%>
  </div>
</div>

