/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require my_styles
 *= require requests
 */


 .search-map{
  opacity: .6;
 }

 body { 
  padding-top: 70px;
 }

 .navbar-right {
  padding: 0px 10px 0px 40px;
 }
 .dropdown {
 line-height: 50px;
}

.container-bg {
  background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude},#{@location.longitude}&zoom=9&size=440x400&style=element:geometry%7Ccolor:0xebe3cd&style=element:labels.text.fill%7Ccolor:0x523735&style=element:labels.text.stroke%7Ccolor:0xf5f1e6&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xc9b2a6&style=feature:administrative.land_parcel%7Celement:geometry.stroke%7Ccolor:0xdcd2be&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xae9e90&style=feature:landscape.natural%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x93817c&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xa5b076&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x447530&style=feature:road%7Celement:geometry%7Ccolor:0xf5f1e6&style=feature:road.arterial%7Celement:geometry%7Ccolor:0xfdfcf8&style=feature:road.highway%7Celement:geometry%7Ccolor:0xf8c967&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0xe9bc62&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0xe98d58&style=feature:road.highway.controlled_access%7Celement:geometry.stroke%7Ccolor:0xdb8555&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x806b63&style=feature:transit.line%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:transit.line%7Celement:labels.text.fill%7Ccolor:0x8f7d77&style=feature:transit.line%7Celement:labels.text.stroke%7Ccolor:0xebe3cd&style=feature:transit.station%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:water%7Celement:geometry.fill%7Ccolor:0xb9d3c2&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x92998d")
}

.search-bar{
  margin-top: 11px;
}

.add-request{
  margin-left: -150px;
   line-height: 50px;
  }

li{
  list-style: none;
}

.header-requests{
  font-size: 1.1em;
}

.req-specs{
  font-size: .9em;
}

.logo {
  border-radius: 0% 50% 50% 0%;
}

.neighbors{
  width:100%;
  margin-top: -100px;
  background-color: white;

}

#jumbo {
  padding-bottom: 0px;
  opacity: .9;
}

.btn-success{
  border-radius: 0 !important;
}

.thumbnail {
  border-left: none !important;
  border-right: none !important;
}

.nav-btn {
  border: none !important
}

.search-input {
  border-radius: 0 !important;

}

.profile-pic{
  border-radius:50%;
}

.glyphicon-wrench{
  color:white;
  font-size:1.3em;
}

.slider {
  background-color:teal;
}

.req-header {
  font-size:1.5em;
}

.title{
  margin-top: 15px;
  border: none !important;
  padding: 10px !important;
}

.comments{
  background-color: #dce6f2 !important;
}





